@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    background-color: lightblue;
}
body {
    margin: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}
nav > ul {
    display: flex;
    /* flex-direction: row; */
    list-style: none;
    justify-content: center;
}
nav > ul > li {
    margin-left: 2em;
    margin-right: 2em;
    
}
nav a { 
    text-decoration: none;
    color: purple;
}
nav a:visited {
    color:darkviolet;
}
main {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}
main.projects {
    max-width: 700px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
}


.resume li {
    font-style: italic;
    list-style: square;
}

.resume h5 {
    float: right;
}

@media (max-width: 640px) {
    .projects img {
        max-width: 100vw;
        width: 100%;
        
        /* margin-right: 5em;
        margin-left: 5em; */
    }
    .mobile {
        display:block;
    }
}
@media (min-width: 640px) {
    .mobile {
        display:none;
    }
}